<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RDI_Analyser.My.MySettings.ConnectionString" connectionString="Dsn=SWDL;service=DYNAMICLOGICA:RTRDB1,DYNAMICLOGICB:RTRDB1;uid=SYSTEM;ft_enable=yes" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
